<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		<div id="dokuwiki__site">
			<div id="dokuwiki__top" class="site dokuwiki mode_show tpl_dokuwiki home">
				{% include header.html %}

				<div class="wrapper group">
					<div id="dokuwiki__content">
						<div class="pad group">
							{{ content }}
						</div>
					</div>
				</div>

				{% include footer.html %}
			</div>
		</div>
		<hr class="ally">

	<script type="text/javascript">
	(function() {
		var links = document.links;
		for (var i = 0, linksLength = links.length; i < linksLength; i++) {
			if (links[i].hostname != window.location.hostname && links[i].hostname != "ircmett.de") {
				links[i].target = '_blank';
				links[i].className += ' urlextern';
			}
		}
	})();
	</script>

	</body>

</html>
